<a href="https://colab.research.google.com/github/CastanharoA/_projetos/blob/master/bike_sharing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import numpy as np

In [52]:
import pandas as pd

In [29]:
df = pd.read_csv('https://drive.google.com/file/d/1f3UcADUclAaY_kB1e_Jp1VdheSoMlURp/view?usp=sharing')

In [31]:
df.head()

  <!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style>@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic')  ... [0]
0                                                NaN                                                                                                                                                                              ... NaN
1                                                NaN                                                                                                                                                                              ... NaN
2                                                NaN                                                                                                                                                                              ... NaN
3                                                NaN                                                                                                                                                                              ... NaN
4                                                NaN                                                                                                                                                                              ... NaN

[5 rows x 279 columns]

In [32]:
df

    <!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style>@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic')  ... [0]
0                                                  NaN                                                                                                                                                                              ... NaN
1                                                  NaN                                                                                                                                                                              ... NaN
2                                                  NaN                                                                                                                                                                              ... NaN
3                                                  NaN                                                                                                                                                                              ... NaN
4                                                  NaN                                                                                                                                                                              ... NaN
..                                                 ...                                                                                                                                                                              ...  ..
175                  (function(){var a=_.qd();if(_.E(a                                                                                                                                                                              ... NaN
176                     }catch(e){_._DumpException(e)}                                                                                                                                                                              ... NaN
177                                    })(this.gbar_);                                                                                                                                                                              ... NaN
178                                     // Google Inc.                                                                                                                                                                              ... NaN
179  </script><script id="base-js" async type="text...                                                                                                                                                                              ... NaN

[180 rows x 279 columns]

In [53]:
df1 = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [54]:
df1

         datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]

In [88]:
df1.shape

(17379, 17)

In [56]:
df1.dtypes

datetime              object
rec_id                 int64
season                 int64
year                   int64
month                  int64
hour                   int64
is_holiday             int64
weekday                int64
is_workingday          int64
weather_condition      int64
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
total_count            int64
dtype: object

In [41]:
df1['datetime'] = pd.to_datetime(df1['datetime'])

In [57]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [62]:
df1.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [89]:
df1['windspeed'].mean()

0.1900976063064631

In [93]:
df1['temp'].mean()

0.4969871684216586

In [73]:
df1.info(2011)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [85]:

ano0 = df1[df1['year'] < 1]
print(len(ano0))
#2011

8645

In [94]:
df1[df1.year ==0]

        datetime  rec_id  season  ...  casual  registered  total_count
0     2011-01-01       1       1  ...       3          13           16
1     2011-01-01       2       1  ...       8          32           40
2     2011-01-01       3       1  ...       5          27           32
3     2011-01-01       4       1  ...       3          10           13
4     2011-01-01       5       1  ...       0           1            1
...          ...     ...     ...  ...     ...         ...          ...
8640  2011-12-31    8641       1  ...      19          73           92
8641  2011-12-31    8642       1  ...       8          63           71
8642  2011-12-31    8643       1  ...       2          50           52
8643  2011-12-31    8644       1  ...       2          36           38
8644  2011-12-31    8645       1  ...       4          27           31

[8645 rows x 17 columns]

In [87]:
ano1 = df1[df1['year'] > 0 ]
print(len(ano1))
#2012

8734

In [97]:
df1[df1['year'] ==1]

         datetime  rec_id  season  ...  casual  registered  total_count
8645   2012-01-01    8646       1  ...       5          43           48
8646   2012-01-01    8647       1  ...      15          78           93
8647   2012-01-01    8648       1  ...      16          59           75
8648   2012-01-01    8649       1  ...      11          41           52
8649   2012-01-01    8650       1  ...       0           8            8
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[8734 rows x 17 columns]

In [107]:
df1[df1.year ==0] ['total_count'].sum()

1243103

In [108]:
df1[df1.year ==1] ['total_count'].sum()

2049576

In [109]:
df1['season'].mean()

2.5016399102364923

In [110]:
df2= df1.groupby('season')['total_count'].sum()
df2.index.argmax()

3

In [112]:
df3= df1.groupby('season')['total_count'].sum()
df3.idxmin()

1

In [119]:
df4= df1.groupby('hour')['total_count'].sum()
df4.argmax()

17

In [118]:
df4= df1.groupby('hour')['total_count'].sum()
df4.idxmin()

4

In [130]:
df5= df1.groupby(by='weekday').mean()['total_count']
#df5= df1.groupby('weekday')['total_count'].sum()
df5.argmax()

4

In [131]:
df6= df1.groupby(by='weekday').mean()['total_count']
df6.idxmin()

0

In [135]:
df1_week = df1[['weekday', 'hour', 'total_count']]
df1_week = df1_week.loc[(df1.weekday == 3)]
df1_week_soma = df1_week.groupby('hour').sum()
df1_week_soma

max_value = df1_week_soma.total_count.argmax()
max_value

17

In [137]:
df1_week = df1[['weekday', 'hour', 'total_count']]
df1_week = df1_week.loc[(df1.weekday == 6)]
df1_week_soma = df1_week.groupby('hour').sum()
df1_week_soma

max_value = df1_week_soma.total_count.argmax()
max_value

13